html, body {
    height: 100%;
}

p, a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2;
}

#main-content {

    min-width: 420px;

}

.display-1 {
    font-size: 50px;
}

.display-4 {
    font-size: 25px;
    color: #6e5773;
    font-weight: bold;
}

.card-title {
    font-size: 25px;
    color: #6e5773;
    font-weight: 600;
}

p, .card-text {
    color: #721b65;
}

#img-github {
    height: 40px;
    width: 40px;
}

.nav-link, .nav-link:hover, .nav-link:after {
    color:#721b65;
}

.carousel-caption p {
    color: white;
}
