body{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    overflow-x: hidden;
}

@media only screen and (max-width: 550px) {
    body{
        overflow-x: auto;
    }
}

.s-curved{
    border-radius: 0 100px 100px 0;
    width: 250px;
    height: 80%;
    margin-left: -5px;
}

.shadow-transition{
    transition: 1s;
}

.movement-transition{
    animation: 5s;
}

.division-title{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 25px;
}

#nav-div{
    background-color: #171717;
}

#nav-div .navbar-brand{
    color: #BBE1FA;
    font-weight: 700;
    font-size: 25px;
}

#nav-div .nav-link {
    color: white;
}


#introduction-div{
    background-color: #171717;
    height: 100vh;

    color: #EDEDED;
}

#introduction-div .division-title{
    color: #EDEDED;
    font-size: 60px;
}

#introduction-div .underline{
    border-bottom: 2px solid #BBE1FA;
    border-radius: 20px;
    width: 200px;
}

@media only screen and (max-width: 768px) {
    #introduction-div .underline{
        width: 100%;
    }
}

#introduction-div .content{
    line-height: 40px;
}

#introduction-div .content .desc{
    font-weight: 500;
    font-size: 20px;
}

#introduction-div .content .desc .course{
    color: #BBE1FA;
    font-weight: 700;
    margin: 0 3px;
}

#introduction-div .content .goal{
    color: #686D76;
    font-weight: 600;
    font-size: 20px;
}

#introduction-div .content .goal .goal-title{
    color: #BBE1FA;
}

#introduction-div .content .connect a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

#introduction-div .content .connect a:hover{
    color: #00DCDC;
}

#education-div{
    height: 100vh;
}

@media only screen and (max-width: 991px) {
    #education-div{
        height: auto;
    }
}

#education-div, #education-div .card{
    background-color: #0f4c75;
    color: #f7fbfc;
}

#education-div .list-group{
    border: none;
}

#education-div .school{
    font-weight: 500;
    font-size: 23px;
    font-family: 'Roboto', sans-serif; 
    color:#d6e6f2;
}

#education-div .course{
    font-size: 16px;
    font-weight: 500;
    background-color: #dbe2ef ;
    color: #0f4c75;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#education-div .level{
    font-weight:500;
    font-size: 19px;
}

#education-div .year{
    font-style: italic;
}

#education-div .year .to-award{
    font-weight: 500;
    color: darkgrey;
}

#education-div .achievement .year{
    font-weight: 300;
}



#projects-div{
    background-color: #f1f6f9;
}

#projects-div .project-name{
    font-weight: 500;
    font-size: 23px;
    color:#ffffff;
    font-family: 'Roboto', sans-serif; 
}

#projects-div .card-text{
    line-height:30px;
    color: #ffffff;
}

#projects-div .project-toggle .card{
    background-color: #1b262c;
    border: none;
}

#projects-div .project-toggle .card .details-button{
    background-color: #fed049;
    border-color: #fed049;
}

#projects-div .project-description{
    font-size: 17px;
    line-height: 38px;
    text-align: left;
    font-family: 'Roboto', sans-serif; 
}

#projects-div #accordion-group .card{
    border: none;
    background-color: #f4f4f4;
}

#projects-div #accordion-group .card .project-name{
    color:black;
    opacity: 85%;
}

#projects-div #accordion-group .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #47597e;
}

#projects-div #accordion-group .carousel-indicators .active{
    width: 13px;
    height: 13px;
    margin-top: -2px;
    background-color: #293b5f;
}

#projects-div .github-repository-link{
    text-decoration: none;
    font-weight: 600;
}

#projects-div .link-disabled{
    text-decoration: line-through;
    font-weight: 600;
    color: grey;
}


#papers-div{
    background-color: #47597e;
}

#papers-div .division-title{
    color: white;
}

#papers-div #papers-accordion .accordion-item .accordion-header .header-text{
    font-weight: 600;
    font-size: 17px;
    opacity: 90%;
    color: #ffffff;
}

#papers-div .accordion-header .accordion-button{
    background-color: #5c6e91;
    border: none;
}

#papers-div .accordion-body{
    background-color: #ffffff;
}

#papers-div .accordion-body .publish-info,
#papers-div .accordion-body .authors,
#papers-div .accordion-body .doi{
    font-weight: 600;
    opacity: 80%;
}

#papers-div .accordion-body .abstract-title{
    font-size: 18px;
    font-weight: 600;
}

#papers-div .paper-title{
    font-size: 20px;
    font-weight: 700;
    opacity: 80%;
}

#papers-div .abstract{
    line-height: 35px;
}




#experiences-div .card-title{
    opacity: 90%;
}



#skills-div{
    background-color: #b9bbdf;
    color: #481380;
    height: 100vh;
}

#skills-div .language-name{
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#skills-div .language-proficiency{
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

#footer-div{
    /* background: rgb(0,0,0);
    background: -moz-linear-gradient(149deg, rgba(0,0,0,1) 0%, rgba(24,28,29,1) 11%, rgba(45,52,54,1) 69%);
    background: -webkit-linear-gradient(149deg, rgba(0,0,0,1) 0%, rgba(24,28,29,1) 11%, rgba(45,52,54,1) 69%);
    background: linear-gradient(149deg, rgba(0,0,0,1) 0%, rgba(24,28,29,1) 11%, rgba(45,52,54,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#2d3436",GradientType=1); */
    background-color: #393e46;
}

#footer-div .bi{
    font-size: 28px;
    opacity: 95%;
}

#footer-div .address-level-1{
    font-weight: 500;
}

#footer-div .address-level-2{
    font-size: 18px;
    font-weight: 700;
    opacity: 95%;
}

#footer-div .email{
    font-weight: 600;
    font-size: 16px;
}

#footer-div .footer-title{
    color:#94FFFF;
    font-weight: 600;
    font-size: 25px;
    opacity: 90%;
}

#footer-div .footer-desc{
    color:white;
    font-size: 16px;
}

#footer-div a {
    color: white;
    text-decoration: none;
}

#footer-div a:hover{
    color: #00DCDC;
}


#footer-highlight-div{
    background-color: #222831;
}

#footer-highlight-div .footer-credits{
    font-size: 11px;
    font-weight: 500;
    font-family: sans-serif;
    opacity: 60%;
    letter-spacing: 3px;
}
