body{
    
}

.s-curved{
    border-radius: 0 100px 100px 0;
    width: 250px;
    height: 100%;
    margin-left: -5px;
}

.content-division{
    margin-left: -1px;
    margin-right: -1px;
    min-width: 550px;
}

#nav-div{
    min-width: 550px;
}

.division-title{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 25px;
}


.shadow-transition{
    transition: 1s;
}


#introduction-div{
}



#education-div, #education-div .card{
    background-color: #519383;
    color:white;
}

#education-div .list-group{
    border: none;
}

#education-div .list-group .list-group-item{
    background-color: lavender;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;

    font-weight: 500;
    font-size: 18px;
}

#education-div .list-group .active{
    background-color: darkslategrey;
}

#education-div .school{
    font-weight: 500;
    font-size: 22px;
    font-family: 'Roboto', sans-serif; 
}

#education-div .course{
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
}

#education-div .level{
    font-weight: 600;
    font-size: 20px;
}

#education-div .year{
    font-style: italic;
}

#education-div .year .award{
    font-weight: 500;
}

#education-div .year .to-award{
    font-weight: 500;
    color: darkgrey;
}

#education-div .achievement .year{
    font-weight: 300;
}



#projects-div{
    
}

#projects-div .project-name{
    font-weight: 500;
    font-size: 23px;
    color: black;
    font-family: 'Roboto', sans-serif; 
}

#projects-div .card {
    background-color: white;
    border: none;
    border-radius: 10px;
}

#projects-div .card .project-tech .badge{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#projects-div .project-image-label{

}

#projects-div .project-description{
    font-size: 16px;
    line-height: 38px;
    font-weight: 500;
    text-align: justify;
}

#projects-div .github-repository-link{
    text-decoration: none;
    font-weight: 600;
}

#projects-div .link-disabled{
    text-decoration: none;
    font-weight: 600;
    color: grey;
}



#experiences-div{
}



#skills-div{
}

#skills-div .language-name{
    font-weight: 700;
    font-size: 20px;
}

#skills-div .language-proficiency{
    font-weight: 400;
    font-size: 18px;
}

#footer-div{
    background-color: #333333;
}

#footer-div a{
    color: #333333;
}