body{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: inherit;
}

.s-curved{
    border-radius: 0 100px 100px 0;
    width: 250px;
    height: 80%;
    margin-left: -5px;
}

.content-division{
    margin-left: -1px;
    margin-right: -1px;
    min-width: 550px;
}

#nav-div{
    min-width: 550px;
    margin-right: 0;
}

.division-title{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 25px;
}


.shadow-transition{
    transition: 1s;
}

.movement-transition{
    animation: 5s;
}


#introduction-div{
}


#education-div, #education-div .card{
    background-color: #0f4c75;
    color: #f7fbfc;
}

#education-div .list-group{
    border: none;
}

#education-div .school{
    font-weight: 500;
    font-size: 23px;
    font-family: 'Roboto', sans-serif; 
    color:#d6e6f2;
}

#education-div .course{
    font-size: 16px;
    font-weight: 500;
    background-color: #dbe2ef ;
    color: #0f4c75;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#education-div .level{
    font-weight:500;
    font-size: 19px;
}

#education-div .year{
    font-style: italic;
}

#education-div .year .to-award{
    font-weight: 500;
    color: darkgrey;
}

#education-div .achievement .year{
    font-weight: 300;
}



#projects-div{
    background-color: #f1f6f9;
}


#projects-div .project-name{
    font-weight: 500;
    font-size: 23px;
    color:#ffffff;
    font-family: 'Roboto', sans-serif; 
}

#projects-div .card-text{
    line-height:30px;
    color: #ffffff;
}

#projects-div .project-toggle .card{
    background-color: #1b262c;
    border: none;
}

#projects-div .project-toggle .card .details-button{
    background-color: #fed049;
    border-color: #fed049;
}

#projects-div .project-description{
    font-size: 17px;
    line-height: 38px;
    font-weight: 500;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

#projects-div .github-repository-link{
    text-decoration: none;
    font-weight: 600;
}

#projects-div .link-disabled{
    text-decoration: none;
    font-weight: 600;
    color: grey;
}



#experiences-div .card-title{
    opacity: 90%;
}



#skills-div{
    background-color: #b9bbdf;
    color: #481380;
}

#skills-div .language-name{
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#skills-div .language-proficiency{
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

#footer-div{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(149deg, rgba(0,0,0,1) 0%, rgba(24,28,29,1) 11%, rgba(45,52,54,1) 69%);
    background: -webkit-linear-gradient(149deg, rgba(0,0,0,1) 0%, rgba(24,28,29,1) 11%, rgba(45,52,54,1) 69%);
    background: linear-gradient(149deg, rgba(0,0,0,1) 0%, rgba(24,28,29,1) 11%, rgba(45,52,54,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#2d3436",GradientType=1);
}

#footer-div a{
    color: #333333;
}